:root {
    --bar-height: 50px
}

.app-bar {
    background-color: var(--background-color);
    height: var(--bar-height);
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
}

.header {
    position: absolute;
    top: 0;
}

.always-on-top {
    z-index: 1000;
}

.app-bar__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.bar-stick-to-top {
    position: sticky;
    top: 0
}

.bar-stick-to-bottom {
    position: sticky;
    left: 0;
    bottom: 0;
    right: 0;
}

.app-basic-page {
    width: 100%;
    display: grid;
    grid-template-columns: 150px auto 150px;
    color: var(--font-color);
}

.app-basic-page__content {
    padding: 80px 40px 0px 40px;
    margin-bottom: 80px;
    /* background-color: #fff3f8; */
    background-color: white;
}

.link {
    text-decoration: underline;
    color: var(--link-color);
}

.page__title {
    padding-bottom: 20px;
}

.page__divider {
    margin-bottom: 20px;
}

.article {
    padding-bottom: 20px;
}