.response-container {
    display: grid;
    row-gap: 5px;
    grid-template-columns: auto;
}

.response-card {
    display: block;
    background-color: var(--foreground-color);
    color: var(--font-color);
    padding: 10px 20px;
    /* border-radius: 10px; */
    border-bottom: 0.5px solid var(--font-color);
    transition: 0.3s all;
}

.nav-btns-container {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    bottom: 30px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.nav-btn {
    padding: 20px 50px;
    border: none;
    border-radius: 999px;
    transition: .3s all;
}

.nav-btn:hover {
    transform: scale(1.1);
}

.nav-btn__try-again {
    background-color: var(--btn-color);
}

.nav-btn__to-topics {
    background-color: var(--btn-color);
}
