.topics-container {
    display: grid;
    row-gap: 5px;
    grid-template-columns: auto;
}

.topic {
    display: block;
    background-color: var(--foreground-color);
    color: var(--font-color);
    border: 1px solid #00000067;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s all;
}

.topic:hover {
    color: white;
    background-color: var(--btn-color);
    border-radius: 20px;
    /* transform: scale(1.02); */
}

.topic__name {
    display: block;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}

.topic__description {
    display: block;
    text-align: left;
}

.topic__amount {
    display: block;
    text-align: left;
}
