.topics-container {
    display: grid;
    row-gap: 5px;
    grid-template-columns: auto;
}

.topic {
    display: block;
    background-color: var(--foreground-color);
    color: var(--font-color);
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s all;
}

.topic:hover {
    transform: scale(1.02);
    border-radius: 20px;
}

.topic__name {
    display: block;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}

.topic__description {
    display: block;
    text-align: left;
}

.topic__amount {
    display: block;
    text-align: left;
}
