.quiz-container {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.next-word__button {
    position: fixed;
    right: 0;
    bottom: var(--bar-height);
    margin-right: 30px;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 600;
    padding: 10px;
    background-color: var(--success-color);
    padding: 10px 50px;
    transition: 0.3s;
    opacity: 1;
}

.next-word__button-hidden {
    opacity: 0;
    bottom: -100px;
}

.next-word__button:focus {
    outline: none;
}

.word-card {
    min-height: 70dvh;
    max-height: 75dvh;
    /* min-width: calc(100vw * 0.4); */
    aspect-ratio: 5 / 7;
    border-radius: 20px;
    background-color: var(--foreground-color);
    padding: 35px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.word-card__right {
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.word-card__counter {
    color: var(--font-color-2);
    font-weight: bold;
}

.word-card__explanation {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    color: var(--font-color);
    font-size: 20px;
    text-align: left;
}

.word-card__title {
    text-align: center;
    color: var(--font-color);
    font-size: 48px;
    font-weight: 800;
    text-shadow: var(--shadow-color) 0px 4px 10px;
    margin: 0;
    padding: 0;
}

.word-card__translation {
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
    color: var(--font-color);
    font-size: 36px;
    margin: 0;
    padding: 0;
}

.word-card__cnt-button {
    display: grid;
    column-gap: 5px;
    grid-template-columns: auto auto auto;
    width: 100%;
}

.word-card__button {
    outline: none;
    font-size: 20px;
    padding: 0.5em 1.2em;
    background-color: var(--active-color);
    transition: 0.3s all;
}

.word-card__button:focus {
    outline: none;
}

.word-card__btn-active:hover {
    background-color: var(--active-hover-color);
}

.word-card__btn-success {
    background-color: var(--success-color);
}

.word-card__btn-failed {
    background-color: var(--failure-color);
}

.big-screen-button {
    display: block;
}

.small-screen-button {
    display: none;
}

@media (max-width: 768px) {
    .quiz-container {
        margin-top: 0;
        padding: 5px;
        height: calc(100dvh - 2 * var(--bar-height));
    }
    .word-card {
        min-width: auto;
        max-height: auto;
        width: 100%;
        aspect-ratio: auto;
    }

    .big-screen-button {
        display: none;
    }

    .small-screen-button {
        display: block;
        margin-top: 20px;
    }

    .small-next-word__button {
        font-size: 28px;
        font-weight: 600;
        padding: 10px;
        color: white;
        background-color: var(--success-color);
        padding: 10px 50px;
    }

    .small-next-word__button-hidden {
        display: none;
    }
}
