

.management {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.management__title {
}

.management__create-btn {
    background-color: var(--btn-color);;
}

.t-input-cell {
    color: var(--font-color);
    background-color: white;
    border: none;
}

.t-input-cell:focus {
    outline-color: black;
}

.t-action {
    color: var(--background-color);
    text-decoration: underline;
    cursor: pointer;
}


.t-table {
    border: 1px solid var(--table-border-color);
}

.t-table-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    &:not(:last-child) {
        border-bottom: 1px solid var(--table-border-color);
    }
}

.t-table-row span {
    padding: 5px 10px;
    word-break: break-word;
    
    &:not(:last-child) {
        border-right: 1px solid var(--table-border-color);
    }
}

.t-table-header {
    background-color: var(--background-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.t-table-data-row {
    font-size: 18px;
}