:root {
    --table-border-color: rgba(0, 0, 0, 0.37); 
}

.table {
    border: 1px solid var(--table-border-color);
}

.table-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    &:not(:last-child) {
        border-bottom: 1px solid var(--table-border-color);
    }
}

.table-row span {
    padding: 5px 10px;
    word-break: break-word;
    
    &:not(:last-child) {
        border-right: 1px solid var(--table-border-color);
    }
}

.table-header {
    background-color: var(--background-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.table-data-row {
    font-size: 18px;
}

.table-data-row__correct {
    background-color: var(--success-color);
}

.table-data-row__incorrect {
    background-color: var(--failure-color);
}
