.app-header {
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: black;
    margin-bottom: 40px;
    z-index: 999;
}

.app-header__logo {
    font-size: 24px;
}

.top-and-bottom-layouts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}